
<div class="clearfix" id="close">
  <section id="site-hero" class="site-hero">
    <div class="hero-section">
      <div class="hero_content">
        <h1>Hello, my friend to our product</h1><br>
        <h4>Hello, my friend to our product</h4>
      </div>
      <div class="hero-acction">
        <button type="button" name="button">BUTTON ONE</button>
      </div>
    </div>
  </section>
  <section>
    <div class="items">
      <% 10.times do %>
      <div class="item"></div>
      <%end%>
    </div>
  </section>
</div>
